<main>
  <!-- heading -->
  <h1>User Recommendation</h1>
  <div class="col-1 heading">
    User
  </div>
  <div class="col-2">
  </div>
  <div class="col-3 heading">
    Product Id
  </div>
  <div class="col-4">
  </div>
  <div class="col-5 heading">
    Product Affinity
  </div>

  <!-- content -->

  <div *ngFor="let item of userdata">
    <div class="row">

      <div class="col-1 column left">
        <app-avatar [username]='item.name'></app-avatar>
      </div>
      <div class="column right">
        <div *ngFor="let child of item.children">
          <div class="col-2">
            <app-connector></app-connector>
          </div>
          <div class="col-3">

            <app-nodes [dataValue]='child.pid'></app-nodes>
          </div>
          <div class="col-4">
            <app-connector></app-connector>
          </div>
          <div class="col-5">

            <app-nodes [dataValue]='child.pan'></app-nodes>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>